.btn-create-game,
.btn-join-game
.btn-tutorial {
    padding: 10px;
    border-radius: 8px;
}

#txt-game-code {
    text-transform: uppercase;
}

.btn-accept-info {
    padding: 10px;
    border-radius: 8px;
    margin-top: 10px;
}

.label-game-code {
    text-align: left;
}

.btn-tutorial {
    background-color: #6899e8;
    color: white;
}