.btn-create-game,
.btn-join-game {
    padding: 10px;
    border-radius: 8px;
}

#txt-game-code {
    text-transform: uppercase;
}


.btn-accept-info {
    padding: 10px;
    border-radius: 8px;
    margin-top: 10px;
}