.scrollable-cards {
    display: flex;
    overflow-x: auto;
    gap: 10px;
    padding: 10px;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
}

.scrollable-cards::-webkit-scrollbar {
    display: none;
}

.card {
    position: relative; 
    display: flex;
    flex-direction: column; 
    justify-content: space-between; 
    min-width: 240px;
    height: 300px;
    background-color: #f8f9fa;
    border: 2px solid #343a40;
    border-radius: 10px;
    padding: 15px;
    text-align: center;
    font-size: 16px;
    font-style: italic; 
    cursor: pointer;
    transition: transform 0.2s;
    scroll-snap-align: start;
    font-size: 18px;
}

.card div {
    flex-grow: 1; 
}

.btn-confirm-card,
.btn-winning-card {
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
    padding: 7px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 10px;
    min-width: 100px;
}

.btn-confirm-card {
    background-color: #a3bce6;
}

.btn-winning-card {
    background-color: #84e08c;
}

#black-card {
    padding: 0px 15px;
}