.scrollable-cards {
    display: flex;
    overflow-x: auto;
    gap: 10px;
    padding: 10px;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
    margin-left: 15px;
}

.scrollable-cards::-webkit-scrollbar {
    display: none;
}

.card {
    position: relative; 
    display: flex;
    flex-direction: column; 
    justify-content: space-between; 
    flex-shrink: 0;
    width: 240px;
    height: 350px;
    border-radius: 10px;
    padding: 15px;
    text-align: left;
    transition: transform 0.2s;
    scroll-snap-align: start;
    font-size: 18px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 700;
    margin-top: 35px;
}

.black-card {
    background-color: black;
    color: white;
}

.white-card {
    background-color: #f8f9fa;
    border: 2px solid #343a40;
}

.card.empty-card {
    background-color: rgb(230, 146, 146);
}

textarea {
    border-radius: 3px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 700;
}

.single-card {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.single-card.visible {
    opacity: 1;
    transform: translateY(0);
}

.card div {
    flex-grow: 1; 
}

.btn-confirm-card,
.btn-winning-card {
    padding: 7px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 10px;
    min-width: 100px;
}

.bottom-div {
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
}

.btn-confirm-card {
    background-color: #a3bce6;
    margin-bottom: 10px;
}

.btn-winning-card {
    background-color: #84e08c;
}

#black-card {
    padding: 0px 15px;
}

.btn-next-card,
.btn-show-choose-winner,
.btn-skip-card,
.btn-confirm,
.btn-cancel {
    padding: 10px;
    border-radius: 8px;
}

.btn-next-card {
    background-color: wheat;
}

.btn-show-choose-winner {
    background-color: whitesmoke;
}

.btn-skip-card {
    background-color: rgb(226, 80, 80);
}

.no-select {
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.grabbing {
    cursor: grabbing;
    cursor: -webkit-grabbing;
}

.popup {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1000;
    padding: 10px;
}

.show-score-icon {
    margin-right: 10px;
    cursor: pointer;
    font-size: 20px;
}

.card-sign {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    margin-left: 10px;
}

.card-sign-icon {
    font-size: 16px;
    align-items: center;
}

.card-sign-icon svg {
    vertical-align: middle;
}

.card-sign-text {
    margin-left: 2px;
    font-size: 12px;
}

.icon-confirm {
    width: 60px;
}

.selected-card {
    transform: translateY(-35px);
    transition: transform 0.2s ease;
}

.underline-text {
    text-decoration: underline;
}