@import url('https://fonts.googleapis.com/css2?family=New+Amsterdam&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&display=swap');

@import url('home-page.css');
@import url('settings.css');
@import url('waiting-room.css');
@import url('playing-room.css');
@import url('score.css');
@import url('final-ranking.css');

body {
	background-color: #2A2A2A;
	color: white;
}

html,
body {
    overflow-x: hidden;
}

.host-controller {
    display: none;
}

.new-amsterdam-regular {
    font-family: "New Amsterdam", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.shadows-into-light-regular {
    font-family: "Shadows Into Light", cursive;
    font-weight: 400;
    font-style: normal;
}

.poetsen-one-regular {
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.mochiy-pop-p-one-regular {
    font-family: "Mochiy Pop P One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.popup-content {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    max-width: 400px;
    width: 100%;
    margin: auto;
    color: black;
}

#popup-title {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 15px;
}

#popup-paragraph {
    font-size: 1.2em;
    font-style: italic;
    margin-top: 10px;
}

.popup img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}


.hidden {
    display: none !important;
}