@import url('https://fonts.googleapis.com/css2?family=New+Amsterdam&display=swap');

body {
	background-color: #2A2A2A;
	color: white;
}

.new-amsterdam-regular {
    font-family: "New Amsterdam", sans-serif;
    font-weight: 400;
    font-style: normal;
}
